extends layout

block content
  include ./includes/nav
  .container
    .jumbotron
    hr
    p We are #{company}, a team of 4 MRPs (Military Relocation Professionals) who share a passion for educating buyers and keeping those relationships active long after the sale took place.
    p So whether you’re ready to buy a home, still recovering from jetlag, or anything in between, HawaiiMil is your friendly guide to military life on the island.
    p= prettify_phone
