body {
  font: 16px $sans;
}

a {
  color: $linkColor;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.sm-hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

img.logo {
  width: 200px;
}
