body {
  font: 16px Helvetica, sans-serif; }

a {
  color: #00B7FF; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .sm-hide {
    display: none; } }

img.logo {
  width: 200px; }

.top-navbar {
  background-color: #002041; }

.middle-navbar {
  background-color: #e2effc;
  background: -webkit-linear-gradient(top, #ffffff 0%, #e1e3e4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e1e3e4 100%); }

.bottom-navbar {
  background-color: #11629f;
  background: -webkit-linear-gradient(top, #3167B0 0%, #01528f 100%);
  background: linear-gradient(to bottom, #3167B0 0%, #01528f 100%);
  border-top: 3px solid #002041;
  border-bottom: 3px solid #002041; }

.top-banner {
  color: #fff; }
  .top-banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 0; }
  .top-banner p {
    margin: 0; }

.middle-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.middle-banner a {
  font-size: 32px;
  color: #337ab7; }
  .middle-banner a:hover {
    color: #18345d; }

.bottom-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.bottom-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.bottom-banner li {
  padding-right: 15px;
  padding-left: 15px; }
  .bottom-banner li:first-child {
    padding-left: 0; }
  .bottom-banner li:last-child {
    padding-right: 0; }
.bottom-banner a {
  color: #fff;
  font-size: 20px; }

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.phone a {
  font-size: 32px; }

.email a {
  font-size: 16px; }

.locations a {
  font-size: 16px; }

.message a:hover {
  color: #fff; }

.close-message:before {
  content: "x"; }
